.container {
  background-color: var(--color-primary);
  padding: 13%;
  padding-top: 9%;
  padding-bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  width: 100%;
  // background-image: linear-gradient(to right, var(--color-primary), #fdf6e9c0,rgba(0, 0, 0, 0)), url('../../assets/background/verduras.jpg');
  background-image:url('../../assets/background/verduras.jpg') ;
  background-size: cover;
  background-position: center;
  h1 {
    color: var(--color-secondary);
    font-size: 5rem;
    margin: 0;
  }
  p{
    color: var(--color-text);
    font-weight: 900;
    font-size: 2rem;
    width: 50%;
    line-height: 1.4;
  }
  h1,p,button {
    animation: entry 0.3s linear;
  }


  button{
    padding-block:1.5rem ;
    font-size: 1.3rem;
    width: 20%;
  }

  @keyframes entry {
    0%{
      opacity: 0;
      transform: translate(-200px);
    }
  
    50%{
      opacity: 0.5;
      transform: translate(-50px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
  
    }
  }
}