.container {
  width: 100%;
  background-color: var(--color-secondary);
  padding-inline: 25%;
  padding-top: 5%;
  padding-bottom: 18%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  h3{
    font-size: 2.5rem;
  }
  p {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .containerItems{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}


@media screen and (min-width: 270px) and (max-width: 1024px) {
  .container {
    padding-inline: 10%;
    padding-bottom: auto;
    gap: 2rem;
    overflow: hidden;

    h3{
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
    }
    .containerItems{
      overflow-x: auto;
      padding-left: 100%;
      padding-block: 5%;
      padding-inline: 10%;
      overscroll-behavior-inline: contain ;
    }
    .containerItems > :first-child {
      margin-left: 300px; /* Ajusta el valor según sea necesario */
    }
    .containerItems::webkit::-webkit-scrollbar{
      width: 0px;
    }
  
  }
}