.container{
  width: 100%;
  padding-inline: 25%;
  padding-block: 3%;
  background-color: var(--color-primary-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  color: var(--color-text);
  h3{
    font-size: 3rem;
    color: var(--color-secondary) ;

  }
  p {
   width: 100%;
   font-size: 1.3rem;
   font-weight: bold;
  }
  .containerItems{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    justify-content: center;
    align-items: start;
  }
}



@media screen and (min-width: 270px) and (max-width: 1024px) {
  .container{
    padding-inline: 10%;
    gap: 2rem;
    h3{
      font-size: 2.5rem;
  
    }
    p {
     font-size: 1.1rem;
    }
    .containerItems{
      grid-template-columns: auto auto ;

    }
  }
  
}